
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap'); /*Länk fonten som används */


:root 
{
    --color-dark:#0B0F19;
    --color-darkgrey:#33354D;
    --color-primary:#6366f1;
    --color-mediumgray: #565973;
    --color-gray:#9397AD;
    --color-white:#ffff;
    --color-lightgray: #e2e5f1;
    --color-second-background: #F3F6FF;
    --color-background: #fff;
    --color-thr-background: #fff;
    --color-faq-background: #fff;
    --color-btn-background: #fff;
    --color-gradient: linear-gradient(white, #f3eefc);
    --color-shadow: #e2e5f1;
    --color-faq: rgba(0, 0, 0, 0.1);
    
 }

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* ??? */
}

html, body {
 
  height: 100%;
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  font-family: "Manrope", sans-serif;
  background-color: var(--color-background);
  h1, h2, h3, h4 {
    color: var(--color-dark);
  }*/

  p {
    color: var(--color-dark);
  }
}

html {
  color-scheme: light;
}

.dark {

  --color-dark: #fff;
  --color-darkgrey: #fff;
  --color-primary:#6366f1;
  --color-mediumgray: #fff;
  --color-gray:#33354D; /*#9397AD;*/
  --color-white:#ffff;
  --color-lightgray: #e2e5f1;
  --color-second-background: hsl(223, 39%, 10%);
  --color-background: hsl(223, 39%, 7%) ;
  --color-thr-background: hsl(235, 20%, 15%);
  --color-faq-background:hsl(235, 20%, 15%);
  --color-btn-background: hsl(235, 20%, 14%);
  --color-gradient: linear-gradient(hsl(223, 39%, 7%),hsl(223, 39%, 10%) );
  --color-shadow: none;
  --color-faq: #33354D;
}


/*KNAPPAR*/

.btn-primary {
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 150px;
    height: 45px;
    border-radius: 4px;
    padding: 12px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    }

.btn-primary:hover {
        background-color: #9e9fee;
    }
   


/* NAVBAR*/

.contactcontainer {
    padding-left:5rem;
    padding-right: 5rem;
    width: 100%;
    height: 100px;
    background: var(--color-second-background);
  }
  
  .navbar {

    display: grid;
    width: 100%;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto 1fr auto auto;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 1rem;

  }

  .logotype {
    display: flex;
    align-items: center;
    align-content: center;

    h3 {

      font-size: 20px;
      font-weight: 800;
      margin-left: .5rem;
      color: var(--color-dark);
      text-decoration: none;

    }
  }
  
  
    .nav-link {
      color: var(--color-darkgrey);
      font-weight: 600;
      text-decoration: none;
      align-items: center;
      justify-content: space-between;
      padding-left: 5rem;
      padding-right: 2rem;
    }
  
    .nav-link:hover {
        text-decoration: underline;
        color: var(--color-primary);
    }
    .nav-link-contacts {
        color: var(--color-darkgrey);
        font-weight: 600;
        text-decoration: none;
        align-items: center;
        justify-content: space-between;
      }

      .nav-link-contacts:hover {
        text-decoration: underline;
        color: var(--color-primary);
    }


    .signin {
      font-size: 14px;
      font-weight: 600;
   
    }
  
    .darkmode-toggle-switch-contact {

    .btn-toggle-switch {
        display: flex;
        align-items: center;
        padding-right: 2rem;
       }
      
       #darkmode-text {
        color: var(--color-mediumgray);
        font-weight: 600;
        font-size: 16px;
        padding-right: .5em;
        
    }
     .a {
        color: var(--color-primary);
        text-decoration: none;
    }
    
    
    .switch {
        position: relative;
        display: inline-block;
        width: 65px;
        height: 30px;
      }
      
      .switch input {
        opacity: 0;
        width:0;
        height:0;
      }
      
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--color-gray);
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      .slider:before {
        position: absolute;
        content: "";
        height: 24px;
        width: 24px;
        left: 4px;
        bottom: 3px;
        background-color: var(--color-white);
        -webkit-transition: .4s;
        transition: .4s;
      }
      
      input:checked + .slider {
        background-color: var(--color-primary);
      }
      
      input:focus + .slider {
        box-shadow: 0 0 1px var(--color-primary);
      }
      
      input:checked + .slider:before {
        -webkit-transform: translateX(24px);
        -ms-transform: translateX(24px);
        transform: translateX(34px);
      }
    
      .slider.round {
        border-radius: 30px;
      }
      
      .slider.round:before {
        border-radius: 50%;
      }
      
    }
      /*Contact US*/

  
      .contact-us {
        height:600px;
        background-color: var(--color-second-background);
        padding-left: 10rem;
        padding-right: 10rem;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-areas:
        "contact form";
      
      }

      .contact {
        grid-area: contact;
        
      }
      .menu {
        display: flex;
        align-items: center;
        justify-content: left;

        .house {
            color: var(--color-gray);
            padding-right: 1rem;
        }

        p {
            color: var(--color-gray);
            font: 400;
            padding-right: 1rem;
        }

        .arrow {
            color: var(--color-gray);
            padding-right: 1rem;
        }

        .contact {
            color: var(--color-primary);
            font:400;
            font-size: 16px;
        }
       
      }

    .Headline {
      justify-content: left;
        padding-top: 1rem;
        padding-bottom: 2rem;
    
            h1 {
                color: var(--color-dark);
                font: 800;
                font-size: 40px;

            }
        
    }



    .contact-options {
      display: flex;
      flex-direction: column;
      gap: 20px;
      color: var(--color-darkgrey);
  }
  
  .contact-item {
      display: flex;
      align-items: flex-start;
  }
  
  .icon-circle {
      width: 40px;
      height: 40px;
      background-color: var(--color-background);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 25px;
      flex-shrink: 0;
  }
  
  .icon-circle i {
      font-size: 20px;
      color: var(--color-primary);
  }
  
  .text-content h3 {
      font-size: 24px;
      font-weight: 800;
      margin: 0;
      padding-bottom: .5rem;
  }
  
  .text-content p {
      font-size: 16px;
      margin: 5px 0;
      color: var(--color-mediumgray);
      padding-bottom: .5rem;
  }
  
  .text-content a {
      font-size: 16px;
      font-weight: 600;
      color: var(--color-primary);
      text-decoration: none;
      display: inline-flex;
      align-items: center;
      padding-bottom: 3rem;
  }
  
  .text-content a i {
      margin-left: 5px;
      font-size: 12px;

  }



  /*Contact form*/


  .consultation-form {
    background-color: var(--color-white);
    padding: 70px;
    border-radius: 10px;
    height: 718px;
    width:636px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    grid-area: form;
    
    
}

.consultation-form h2 {
    font-size: 24px;
    font-weight: 800;
    color: var(--color-dark);
    margin-bottom: 3rem;
}

.form-group {
    margin-bottom: 2rem;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-dark);
    margin-bottom: .5rem;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px 15px;
    font-size: 16px;
    border: 1px solid var(--color-shadow);
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.form-group input:focus,
.form-group select:focus {
    border-color: var(--color-primary);
    outline: none;
}

button {
    width: 100%;
    margin-top: 7rem;
    padding: 12px;
    background-color: var(--color-primary);
    border: none;
    border-radius: 5px;
    color: var(--color-white);
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #9e9fee;
}

  

.map {
  padding-top: 15rem;
  padding-left:10rem;
  padding-bottom: 10rem;
  display: flex;
  align-items: center;
  align-content: center;



}
.img-map {
    
  padding-right: 10rem;
}

.info {
  display: grid;
  padding-bottom: 3rem;

  h1 {
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 2rem;
  }

  p {
    color: var(--color-mediumgray);
    font-size: 16px;
    font-weight: 400;
  }

  span {
    color: var(--color-dark);
    font-weight: 800;
  }
}

.img {
  padding-right: 1rem;
}

.info-content {
  display:flex;
  align-items: flex-start;
  padding-bottom: 1rem;
 
}

.text-info {
  display: grid;
  
  font-size: ;
  grid-template-rows: 1fr auto;
  grid-template-areas: "one"
                      "two";


  .row-one {
    grid-area: one;
  }

  .row-two {
  grid-area: two;
}

}

.social-icons {
  display: flex;
  align-items: center;
  
  img {
    padding-right: 1.5rem;
  }
}


.footer {
  padding-top: 25rem;
  display: flex;
  text-align: center;
  justify-content: center;
  color: var(--color-gray);
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 2rem;

}